/CurrentConditionsDisplay.class
/DisplayElement.class
/ForecastDisplay.class
/HeatIndexDisplay.class
/Observer.class
/StatisticsDisplay.class
/Subject.class
/ThirdPartyDisplay.class
/WeatherData.class
/WeatherStation.class
